.toolbar
  %ul.actions
    %li
      = link_to 'Add Reserved', bus_bus_reserved_dates_path(@parent) + '/new', {'data-remote' => true}
  %br.clear
%h1 Bus
%table#list_bus_reserved_dates.data-list
  %thead
    %tr
      %th ID
      %th reason
      %th from
      %th to
      %th created at
      %th updated at
      %th= t(:op)
  %tbody
    - @collection.each do |obj|
      = render :partial => 'row', :object => obj
