<div class="toolbar">
  <ul class="actions">
    <li>
      <%= button_link_to 'Add Reserved', bus_bus_reserved_dates_path(@parent) + '/new', {:icon => 'add', 'data-remote' => true} %>
    </li>
  </ul>
  <br class="clear">
</div>

<h1>Bus</h1>

<table class="data-list" id='list_bus_reserved_dates'>
  <thead>
  <tr>
    <th>ID</th>
    <th>reason</th>
    <th>from</th>
    <th>to</th>
    <th>created at</th>
    <th>updated at</th>
    <th><%= t(:op) %></th>
  </tr>
  </thead>
  <tbody>
<% @collection.each do |obj| %>
  <%= render :partial => 'row', :object => obj %>
<% end %>
  </tbody>
</table>

