<div class='item-template'>
  <%= f.email_field :email_address %>
  <label class="checkbox inline">
    <%= f.check_box :_destroy, :onchange => 'rm_if_new_record(this);' %>
    Del
  </label>
</div>

