<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="myModalLabel">Select Customer</h3>
</div>
<div class="modal-body">
	<div class='toolbar' style='padding:4px;'>
		Search Customer by name/email/telephone:<br />
    <%= text_field_tag :user_select, '', 'data-provide' => 'typeahead' %>
		<%= hidden_field_tag :user_id %>
    <%= icon_link_to 'Select', select_user_infos_path + 'id=0', {:icon => 'icon-plus', :remote => true, :id => 'select_user_button'} %> <br />
	</div>
    <%= render 'form' %>
</div>
<div class="modal-footer">
  <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  <button class="btn btn-primary" onclick='submit_dialog_form(this)'>Save changes</button>
</div>
