if ($('#search_user_div').length == 0){
  $('body').append("<div id='search_user_div' class='modal fade' aria-hidden='true'></div>");
}

$('#search_user_div')
	.html("<%= j render(:partial => "form_find") %>")
	.modal('show');
 
  find_user();

