<div>
  <ul class='cmap'>
    <li title='ptn_1' class='cmap_ptn_1'>&nbsp;</li>
    <li title='ptn_2' class='cmap_ptn_2'>&nbsp;</li>
    <li title='ptn_3' class='cmap_ptn_3'>&nbsp;</li>
    <li title='ptn_4' class='cmap_ptn_4'>&nbsp;</li>
    <li title='ptn_5' class='cmap_ptn_5'>&nbsp;</li>
    <li title='ptn1' class='cmap_ptn1'>&nbsp;</li>
    <li title='ptn2' class='cmap_ptn2'>&nbsp;</li>
    <li title='ptn3' class='cmap_ptn3'>&nbsp;</li>
    <li title='ptn4' class='cmap_ptn4'>&nbsp;</li>
    <li title='bg1' class='cmap_bg1'>&nbsp;</li>
    <li title='bg2' class='cmap_bg2'>&nbsp;</li>
    <li title='bg3' class='cmap_bg3'>&nbsp;</li>
    <li title='bd1' class='cmap_bd1'>&nbsp;</li>
    <li title='bd2' class='cmap_bd2'>&nbsp;</li>
    <li title='bd3' class='cmap_bd3'>&nbsp;</li>
  </ul>
  <div class='clear'></div>
</div> 
