%ul.footer-links
  %li
    © Copyright 2013, #{cfg.get_config(:site_name)}
  %li |
  %li
    %a{:href => "/"} Website
  %li= link_to 'Destinations', destinations_path
  %li= link_to 'Orders', orders_path
%ul#color_schemas
  %li.color1
  %li.color2
  %li.color3
  %li.color4
  %li.color5
  %li.color6
