    <ul class='footer-links'>
      <li>© Copyright 2013, <%= cfg.get_config(:site_name) %></li>
      <li> | </li>
      <li><a href='/'>Website</a></li>
      <li><%= link_to 'Destinations', destinations_path %></li>
      <li><%= link_to 'Orders', orders_path %></li>
    </ul>
