.sidebar
  Schedule:
  .input-append
    %input#qg_schedule.span1{:onkeypress => "return quick_go_enter(this);", :type => "text"}/
    %button.btn{:onclick => "quick_go_schedule();", :type => "button"}
      %i.icon-search
  Order:
  .input-append
    %input#qg_order.span1{:onkeypress => "return quick_go_enter(this);", :type => "text"}/
    %button.btn{:onclick => "quick_go_order();", :type => "button"}
      %i.icon-search
  User:
  .input-append
    %input#qg_user.span1{:onkeypress => "return quick_go_enter(this);", :type => "text"}/
    = icon_link_to '', '#', :icon => 'icon-search', :onclick => 'quick_go_user();'
  #todos.zone
  #last_logs.zone
