<div class='sidebar'>
  Schedule:
  <div class='input-append'>
    <input id='qg_schedule' type='text' onkeypress='return quick_go_enter(this);' class='span1' />
    <button class='btn' type='button' onclick='quick_go_schedule();'><i class='icon-search'></i></button>
  </div>
  Order:
  <div class='input-append'>
    <input id='qg_order' type='text' onkeypress='return quick_go_enter(this);' class='span1' />
    <button class='btn' type='button' onclick='quick_go_order();'><i class='icon-search'></i></button>
  </div>
  User:
  <div class='input-append'>
    <input id='qg_user' type='text' onkeypress='return quick_go_enter(this);' class='span1' />
    <%= icon_link_to '', '#', :icon => 'icon-search', :onclick => 'quick_go_user();' %>
  </div>
  <div id='todos' class='zone'></div>
  <div id='last_logs' class='zone'></div>
</div>
