<div class='item-template row'>
  <div class='col-md-3'><%= f.number_field :num_adult, :in => 1..4, :class => 'span1', :onchange => 'recaculate_price();' %></div>
  <div class='col-md-3'><%= f.number_field :num_child, :size => 1, :in => 0..4, :class => 'span1', :onchange => 'recaculate_price()' %></div>
  <div class='col-md-3' style='text-align:center'><%= label_tag nil, number_with_precision(f.object.amount, :precision => 2), :class => 'strong' %></div>
  <div class='col-md-2'>
    <label class='checkbox inline'>
      <%= f.check_box :_destroy, :onchange => 'rm_if_new_record(this);' %> Del
    </label>
  </div>
</div>
