<div class='container'>
  <div class='span-2'><%= f.number_field :num_adult, :in => 1..4 %></div>
  <div class='span-2'><%= f.number_field :num_child, :size => 1, :in => 0..4 %></div>
  <div class='span-2'>0.00</div>
  <div class='span-2 last'><%= f.check_box :_destroy, :onchange => 'rm_if_new_record(this);' %><%= f.label :_destroy, 'Del'%></div>
</div>
