<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="myModalLabel"><i class='glyphicon-9-30'></i> Add Remark</h3>
</div>
<div class="modal-body">
<%= form_for( [@parent, @object], :remote => true) do |f| %>
	  <%= f.field_container :note_text do %>
      <%= f.text_area :note_text, :rows => '10', :class => 'span8' %>
	  <% end %>
<% end %>
</div>
<div class="modal-footer">
  <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  <button class="btn btn-primary" onclick='submit_dialog_form(this)'>Save changes</button>
</div>




