<div class='a-note'>
  <div class='content'>
    <small class='muted'>
      <%= row.employee_info.nickname if row.employee_info %><br />
      <%= time_tag row.created_at %>
    </small>
    <p><%= row.note_text %></p>
  </div>
</div>

