<div class="toolbar">
  <ul class="actions">
    <li>
      <%= button_link_to 'Add', 'remarks/new', {:icon => 'add', 'data-remote' => true} %>
    </li>
  </ul>
  <br class="clear">
</div>

<h1>Notes</h1>

<table class="data-list" id='list_remarks'>
  <thead>
  <tr>
    <th>ID</th>
    <th>type</th>
    <th>ref-id</th>
    <th>text</th>
    <th>employee</th>
    <th>created_at</th>
    <th><%= t(:op) %></th>
  </tr>
  </thead>
  <tbody>
<% @collection.each do |obj| %>
  <%= render :partial => 'row', :object => obj %>
<% end %>
  </tbody>
</table>
<%= will_paginate(@collection) %>

