var edit_div_id = "edit_payment_div";
var edit_div = '#' + edit_div_id;

if ($(edit_div).length == 0){
  $('#dialog_place_holder').append("<div id='"+ edit_div_id +"' class='modal hide fade' aria-hidden='true'></div>");
}

$(edit_div)
  .html("<%= j render(:partial => "form") %>")
  .on('shown', function(){
    $('#refund_cash_refund_amount').focus();
  })
  .modal();

  //pay cash script
  $('#refund_cash_refund_amount').keyup(recaculate_refund_cash);
  $('#refund_cash_refund_fee').keyup(recaculate_refund_cash);

