<%= content_for :breadcrumbs do %>
      <ul class="breadcrumb">
        <li>Accounts <span class="divider">/</span></li>
        <li class="active">Payments</li>
      </ul>
<% end %>
<section>
<%= will_paginate(@collection) %>
<table class="data-list table table-bordered table-striped" id="list_payments">
  <thead>
    <tr class='table-header'>
      <th>id</th>
      <th>bill_type</th>
      <th>bill_id</th>
      <th>before</th>
      <th>amount</th>
      <th>after</th>
      <th>created_at</th>
      <th>op</th>
    </tr>
  </thead>
  <tbody>
  <% @collection.each do |p| %>
    <%= render :partial => 'row', :object => p %>
  <% end %>
  </tbody>
</table>
<%= will_paginate(@collection) %>

