var edit_div_id = "edit_payment_div";
var edit_div = '#' + edit_div_id;

if ($(edit_div).length == 0){
  $('#dialog_place_holder').append("<div id='"+ edit_div_id +"' class='modal hide fade' aria-hidden='true'></div>");
}

$(edit_div)
	.html("<%=j render(:partial => "form")%>");

$('#tabs_payment').tabs("div.panes > div");
	
$('#'+edit_div)
	.dialog('option', 'title', 'Payment')
	.dialog('open');

init_pay_cash();
init_pay_credit_card();
init_pay_check();

function init_pay_cash(){
	$('#recv_cash').focus();
		
	$('#recv_cash').keyup(function(){
		var b = parseFloat($('#balance').text()) || 0;
		var p = parseFloat($('#recv_cash').val()) || 0;
		var c = 0;
		if (p > b) c = p-b;
		$('#pay_cash_change').text(c);
		if (c==0){
			$('#recv_cash').css('color', 'black');
			$('#pay_cash_change').css('color', 'black');
			$('#pay_cash_amount').val(p);
      $('#paid_amount').text(p);
      $('#balance_after').text(b-p);
		}
		else {
			$('#recv_cash').css('color', 'green');
			$('#pay_cash_change').css('color', 'green');
      $('#pay_cash_amount').val(b);
      $('#paid_amount').text(b);
      $('#balance_after').text('0.00');
		}
			 
	});
}

function init_pay_credit_card(){
	$('#credit_card_amount').keyup(function(){
		var b = parseFloat($('#balance').text());
		var p = parseFloat($('#credit_card_amount').val());
		var c = b-p;
		$('#balance_after').text(c);
		$('#payment_amount').val(p);
		if (c<0){
			$('#credit_card_amount').css('color', 'red');
			$('#balance_after').css('color', 'red');
		}
		else if(c==0) {
			$('#credit_card_amount').css('color', 'green');
			$('#balance_after').css('color', 'green');
		}
		else {
			$('#credit_card_amount').css('color', 'black');
			$('#balance_after').css('color', 'blue');
		}
	});	
}

function init_pay_check(){
	$('#check_amount').keyup(function(){
		var b = parseFloat($('#balance').text());
		var p = parseFloat($('#check_amount').val());
		var c = b-p;
		$('#balance_after').text(c);
		$('#payment_amount').val(p);
		if (c<0){
			$('#check_amount').css('color', 'red');
			$('#balance_after').css('color', 'red');
		}
		else if(c==0) {
			$('#check_amount').css('color', 'green');
			$('#balance_after').css('color', 'green');
		}
		else {
			$('#check_amount').css('color', 'black');
			$('#balance_after').css('color', 'blue');
		}
	});	
}


