<%= content_for :head do %>
  <%= stylesheet_link_tag '/css/my_icons/glyphicons' %>
  <%= stylesheet_link_tag '/css/my_icons/gicons' %>
<% end %>
<h2>admin - Home</h2>

<%= link_to 'reset session', reset_app_session_test_path  %>
