$ptn_1: #FFFFFF;
$ptn_2: #e4eee0;
$ptn_3: #c8e0c0;
$ptn_4: #4c773e;
$ptn_5: #78B116;
$ptn_6: #104577;

$default_border_color: $ptn_4;
$default_background_color: $ptn_2;
$default_header_color: $ptn_3;
$high_light_color: #ffffe0;


