var edit_div_id = "edit_payment_div";
var edit_div = '#' + edit_div_id;

if ($(edit_div).length == 0){
  $('#dialog_place_holder').append("<div id='"+ edit_div_id +"' class='modal hide fade' aria-hidden='true'></div>");
}

$(edit_div)
  .html("<%= j render(:partial => "form") %>")
  .on('shown', function(){
    $('#pay_check_check_number').focus();
  })
  .modal();

  //pay cash script
  $('#pay_check_amount').keyup(recaculate_pay_check);
  $('#pay_check_amount').val($('#tb_balance_before').text());

