<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="myModalLabel"><i class='glyphicon-4-2'></i> Find Agent</h3>
</div>
<div class="modal-body">
  <div class='toolbar' style='padding:4px;'>
    <div class='input-prepend input-append'>
      <span class='add-on'>Name/Tel</span>
      <%= text_field_tag :agent_find, params[:n], :onkeyup => 'find_agent()' %>
      <%= link_to_new 'New Agent', new_company_path %>
    </div>
  </div>
  <div class='border-div' style='height:300px;overflow-y:scroll;'>
    <table class="data-list table table-striped table-hover" id="list_result_agents">
      <tbody id='search_result'>
      </tbody>
    </table>
  </div>
</div>
<div class="modal-footer">
  <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
</div>


