#order_head= render :partial => 'order_head'
#customer_info= render :partial => 'customer'
#items= render :partial => 'items'
#payment= render :partial => 'travel_admin/payments/payment'
#dialog.dialog-normal
