- content_for :breadcrumbs do
  %li Manage
  %li.active Configurations

- content_for :head_js do
  %link{:href => "/admin/assets/plugins/bootstrap3-editable/css/bootstrap-editable.css", :rel => "stylesheet"}/

- content_for :foot_js do
  %script{:src => "/admin/assets/plugins/bootstrap3-editable/js/bootstrap-editable.min.js"}
  :javascript
    $(function(){
      $('.editable').editable();
    });

%h1.page-header
  Configurations
  %small system configuration values.

%section
  .panel.panel-inverse
    .panel-heading
      %h4.panel-title Configurations
    .panel-body
      %table.table.table-bordered.table-striped
        %thead
          %tr.table-header
            %th name
            %th val
        %tbody
          - @keys.each do |k|
            %tr
              %td= k.humanize
              %td= link_to $redis.get(k), 'javascript:void(0);', class: 'editable', 'data-type': "text", 'data-pk': "1", 'data-name': k, 'data-url': "app_configurations", 'data-title': k.humanize

