<div id='employee_info'>
  <%= render :partial => 'travel_admin/employee_infos/detail_info', :object => detail %>
</div>
<br />
<%= icon_link_to 'Edit', edit_info_employee_info_path(detail), :icon => 'icon-pencil', :remote => true %>
