var edit_div_id = "edit_employee_info_div";
var edit_div = '#' + edit_div_id;

if ($(edit_div).length == 0){
  $('body').append("<div id='"+ edit_div_id +"' class='modal fade' aria-hidden='true' tabindex='-1' role='dialog'></div>");
}
$(edit_div)
  .html("<%= j render(:partial => "form_info") %>")
  .modal();

$('.date-picker').datepicker({ format: 'yyyy-mm-dd', autoclose: true });

