@import '../vars';

.table-header{background-color:#c8e0c0;}
td.table-header{background-color:#c8e0c0 !important;}

.deleted {text-decoration: line-through;
  color: #aaa;
}
.table th {text-align: center;}
.cell-middle {text-align: center; vertical-align: middle;}
td.cell-middle {text-align: center; vertical-align: middle;}
td.cell-right {text-align:right;}

.table-hover tr:hover > td { cursor:pointer; }
.data-list {
  tr {cursor: pointer; }
  tr:hover {background-color: $high_light_color;}
}
