<%
  tour = Tour.find(params[:tour_id])
%>
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="myModalLabel">New Schedule *</h3>
</div>
<div class="modal-body">
<%= form_tag tour_schedules_path(tour), :method => :post, :remote => true do %>
	<p>
    Tour:<br />
    <%= tour.description.title %><br />
    <span class='text-success'><%= tour.description.title_cn %></span>
	</p>
	<p>
		Departure at:<br />
    <%= text_field_tag :departure_date, '', :class => 'date-picker' %>
	</p>
<% end %>
</div>
<div class="modal-footer">
  <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  <button class="btn btn-primary" onclick='submit_dialog_form(this)'>Save changes</button>
</div>


